<section
  id="about"
  style="margin-top: 70px; margin-bottom: -150px"
  class="why_choose_us section-padding"
>
  <div class="container">
    <div class="section-title text-center">
      <h2>Let’s Build Together!!!</h2>
      <span></span>
      <p>
        We are a crypto firm and one of the few web 3.0 companies in Africa. We
        are set out to fix the problems of traditional currencies. Working with
        Lèmoni means joining the walk of creating generational wealth right from
        the heart of Africa.
      </p>
    </div>
  </div>
  <!-- END CONTAINER -->
</section>

<section id="about" class="about_us section-padding">
  <div class="container">
    <div class="row">
      <div
        style="margin-top: 90px"
        class="col-lg-6 col-sm-12 col-xs-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <!-- <div class="about-text">
          <h2 style="font-size: 40px; font-weight: 700; line-height: 82px">
            Our Vision 
          </h2>
          <h4 style="font-size: large; margin-bottom: 20px">
            We are set out to fix the problems of traditional currencies and
            building the future of finance, by empowering the holders globally.
          </h4>
        </div>
        <div class="about-text">
          <h2 style="font-size: 40px; font-weight: 700; line-height: 82px">
            Our Mission 
          </h2>
          <h4 style="font-size: large; margin-bottom: 20px">
            To drive autonomy of generational wealth through the blockchain
            ecosystem
          </h4>
        </div> -->
        <div class="about-text">
          <h2 style="font-size: 40px; font-weight: 700; line-height: 82px">
            Our Perks
          </h2>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span>
            Competitive salary
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Option to
            be paid in crypto
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Health
            insurance
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Annual
            Vacation with allowance
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Parental
            vacation(s)
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Work
            tools provided
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Remote
            but reachable work schedule for all roles
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Team
            building activities
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Annual
            summit to bring the Team together
          </h4>
          <h4 style="font-size: large">
            <span style="font-size: 150%; color: black">&starf;</span> Access to
            Lèmoni online Refinery
          </h4>
        </div>
      </div>
      <!--- END COL -->
      <div
        class="col-lg-6 col-sm-12 col-xs-12 text-center wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
        style="margin-top: 220px"
      >
        <div class="about-img">
          <img src="/assets/4565.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <!--- END COL -->
    </div>

    <!--- END ROW -->
  </div>
  <!--- END CONTAINER -->
</section>
<!-- END  ABOUT -->
<!-- END  ABOUT -->

<section id="roadmap" class="roadmap_area section-padding">
  <div class="container">
    <div class="section-title text-center">
      <h2>Our Hiring Process</h2>
      <span></span>
      <p>
        Apply for jobs
        <a
          style="color: blue"
          target="_blank"
          href="https://lemoniafrica.bamboohr.com/jobs/"
        >
          <u>here</u></a
        >
      </p>
    </div>
    <div class="row">
      <div class="col-lg-12 col-sm-12 col-xs-12">
        <div class="main-timeline">
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.1s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Application</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h3 class="title">Submission of Application</h3>
              <p class="description">
                All our processes will normally include a short video interview
                during which technical suitability is discussed
              </p>
            </div>
          </div>
          <!-- END TIMELINE -->
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.2s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Interviews</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h3 class="title">Virtual Interview</h3>
              <p class="description">
                A virtual interview with some key/top Team members. We typically
                try to run the interviews back-to-back, but we also work around
                individual availability.
              </p>
            </div>
          </div>
          <!-- END TIMELINE -->
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.3s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Offer</span>
                </span>
              </div>
            </div>
            <div class="timeline-content">
              <h3 class="title">Offer is Made</h3>
              <p class="description">
                This stage is where we check references at the end of a
                successful interview process
              </p>
            </div>
          </div>
          <div
            class="timeline wow fadeInUp"
            data-wow-duration="1s"
            data-wow-delay="0.1s"
            data-wow-offset="0"
          >
            <div class="icon"></div>
            <div class="date-content">
              <div class="date-outer">
                <span class="date">
                  <span class="year">Onboarding</span>
                </span>
              </div>
            </div>
            <!-- <div class="timeline-content">
              <h3 class="title">Create Account</h3>
              <p class="description">
                Sign up for an account on our mobile app for android and iOS
                with your basic info. No unnecessary info us required, it is
                quick and seamless
              </p>
            </div> -->
          </div>
        </div>
        <!-- END MAIN TIMELINE -->
      </div>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
  </div>
  <!-- END CONTAINER -->
</section>

<section
  id="about"
  style="margin-bottom: -40px"
  class="why_choose_us section-padding"
>
  <div class="container">
    <div class="section-title text-center">
      <h2>Our Core Values</h2>
      <span></span>
      <!-- <p>
        Are you looking for an easier way to buy and exchange cryptocurrency?
        You're in the right Place!
      </p> -->
    </div>
    <div class="row text-center">
      <div
        class="col-lg-4 col-sm-4 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div
          class="single_about"
          style="box-shadow: 0 10px 40px -10px rgba(239, 241, 243, 0.2)"
        >
          <img src="/assets/balance.png" alt="icon-image" />
          <h4>Integrity</h4>
          <p>We do what is right and stay true to our principles</p>
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col-lg-4 col-sm-4 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div
          style="box-shadow: 0 10px 40px -10px rgba(239, 241, 243, 0.2)"
          class="single_about"
        >
          <img src="/assets/rating.png" alt="icon-image" />
          <h4>Excellence</h4>
          <p>
            Our users’ needs come first so we never stop learning and improving.
            We get it done right!
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col-lg-4 col-sm-4 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.3s"
        data-wow-offset="0"
      >
        <div
          style="box-shadow: 0 10px 40px -10px rgba(239, 241, 243, 0.2)"
          class="single_about"
        >
          <img src="/assets/goal.png" alt="icon-image" />
          <h4>Courage</h4>
          <p>
            We think and act boldly. We take smart risks bearing in mind that
            when we fail, we learn fast and keep moving.
          </p>
        </div>
      </div>
      <!-- END COL -->
    </div>
    <!-- END ROW -->
    <div class="row text-center">
      <div
        class="col-lg-4 col-sm-4 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.1s"
        data-wow-offset="0"
      >
        <div
          class="single_about"
          style="box-shadow: 0 10px 40px -10px rgba(239, 241, 243, 0.2)"
        >
          <img src="/assets/together.png" alt="icon-image" />
          <h4>Together</h4>
          <p>
            We respect each other and draw strength from our differences. We
            work as a team towards shared goals to build the ecosystem together.
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col-lg-4 col-sm-4 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.2s"
        data-wow-offset="0"
      >
        <div
          style="box-shadow: 0 10px 40px -10px rgba(239, 241, 243, 0.2)"
          class="single_about"
        >
          <img src="/assets/inspiration.png" alt="icon-image" />
          <h4>Autonomy</h4>
          <p>
            We confront the status-quo by inspiring those around us to execute
            responsibly.
          </p>
        </div>
      </div>
      <!-- END COL -->
      <div
        class="col-lg-4 col-sm-4 col-xs-12 wow fadeInLeft"
        data-wow-duration="1s"
        data-wow-delay="0.3s"
        data-wow-offset="0"
      >
        <div
          style="box-shadow: 0 10px 40px -10px rgba(239, 241, 243, 0.2)"
          class="single_about"
        >
          <img src="/assets/puzzle.png" alt="icon-image" />
          <h4>Discipline</h4>
          <p>Demonstrating great leadership</p>
        </div>
      </div>
      <!-- END COL -->
    </div>
  </div>
  <!-- END CONTAINER -->
</section>

<section
  id="about"
  style="margin-bottom: -40px"
  class="why_choose_us section-padding"
>
  <div class="container">
    <div class="section-title text-center">
      <h2>Life at Lemoni</h2>
      <span></span>
      <p>
        At Lèmoni, we believe that everyone has a right to growth, so we
        encourage our people to take smart risks and welcome possible failures.
        Our people keep in mind what’s important: that even the littlest of
        investments can make a huge difference. This notion is evidently rooted
        in our product offerings, embedded in our culture and it empowers us to
        take a critical view of the “norms”
      </p>
    </div>
    <nz-carousel
      style="
        text-align: center;
        height: 200px;
        line-height: 160px;
        background: #fff;
        color: #fff;
        overflow: hidden;
      "
      nzAutoPlay
    >
      <div nz-carousel-content *ngFor="let index of array">
        <h3
          style="
            color: black;
            margin-bottom: 0;
            margin-top: 80px;
            user-select: none;
          "
        >
          {{ index }}
        </h3>
      </div>
    </nz-carousel>
  </div>
  <!-- END CONTAINER -->
</section>

<!-- START FAQ -->
<section id="faq" class="faq1-area">
  <div style="margin-top: 50px" class="container">
    <div class="section-title text-center">
      <h2>FAQs</h2>
      <span></span>
      <!-- <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
          eirmod tempor invidunt ut labore et dolore magna aliquyam erat.
        </p> -->
    </div>
    <div class="row">
      <div
        class="col-lg-10 offset-lg-1 col-12 wow fadeInUp"
        data-wow-duration="1s"
        data-wow-delay="0.3s"
        data-wow-offset="0"
      >
        <div class="faq-tab-content tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="development"
            role="tabpanel"
          >
            <div class="faq_tab" id="accordion_1">
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button
                      (click)="openFaq('collapseTwo')"
                      [ngClass]="
                        openBtn1 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      Do you offer internships or work experience?
                    </button>
                  </h5>
                </div>
                <div
                  id="collapseTwo"
                  [ngClass]="openBtn1 ? 'collapse show' : 'collapse'"
                  class="collapse"
                  aria-labelledby="headingTwo"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    Occasionally, we do have internship opportunities available.
                    We suggest that you keep an eye on our careers page should
                    these become available.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button
                      [ngClass]="
                        openBtn2 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      (click)="openFaq('collapseThree')"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      Will I need to be at the Office at any point?
                    </button>
                  </h5>
                </div>
                <div
                  [ngClass]="openBtn2 ? 'collapse show' : 'collapse'"
                  id="collapseThree"
                  class="collapse"
                  aria-labelledby="headingThree"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    We believe that work no longer needs to be confined to an
                    office, rather the office is simply one of many places where
                    work can be done. We currently operate a fully remote work
                    schedule, but we are disciplined to ensure our reach is
                    guaranteed.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button
                      [ngClass]="
                        openBtn3 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      (click)="openFaq('collapseFour')"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseFour"
                      aria-expanded="false"
                      aria-controls="collapseFour"
                    >
                      Do you offer flexible working hours
                    </button>
                  </h5>
                </div>
                <div
                  [ngClass]="openBtn3 ? 'collapse show' : 'collapse'"
                  id="collapseFour"
                  class="collapse"
                  aria-labelledby="headingFour"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    We have core working hours but for some teams, it’s
                    flexible, depending on their job function and location. This
                    ensures accessibility to both our internal and external
                    stakeholders. We understand that sometimes situations arise
                    where you need to do school run or get to an appointment, so
                    you can agree ad-hoc flexible working with your manager for
                    such days. Ask your Talent Acquisition Specialist for more
                    information about this during your interview process.
                  </div>
                </div>
              </div>
              <div class="card active">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      [ngClass]="
                        openBtn4 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      (click)="openFaq('collapseOne')"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Can I apply for multiple roles
                    </button>
                  </h5>
                </div>
                <div
                  [ngClass]="openBtn4 ? 'collapse show' : 'collapse'"
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="headingOne"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    Yes, please apply to the jobs that align with skillset and
                    career path and aspirations. We do suggest that you limit
                    your application to two jobs at a time. This helps you focus
                    on the jobs that are the best match to your skills,
                    experience, and qualifications. It also gives the Talent
                    Acquisition team a well-rounded idea of what type of
                    opportunity you are looking for. You will be evaluated
                    against the requirements for each role and may interview for
                    different roles at the same time.
                  </div>
                </div>
              </div>
              <div class="card active">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      [ngClass]="
                        openBtn5 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      (click)="openFaq('collapseFive')"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      If I am unsuccessful for a role, can I apply for another?
                    </button>
                  </h5>
                </div>
                <div
                  [ngClass]="openBtn5 ? 'collapse show' : 'collapse'"
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="headingOne"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    Yes, you can if the job is a different role to the one you
                    applied to, and if it has a different set of requirements.
                    Should you wish to apply to the same job, Lèmoni applies a 6
                    month “cool off” period for candidates who made it to the
                    pre-screening interview stages to work on feedback provided,
                    as per the initial recruitment and selection process.
                  </div>
                </div>
              </div>

              <div class="card active">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      [ngClass]="
                        openBtn6 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      (click)="openFaq('collapseSix')"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      Will I receive feedback on my application?
                    </button>
                  </h5>
                </div>
                <div
                  [ngClass]="openBtn6 ? 'collapse show' : 'collapse'"
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="headingOne"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    Yes. Should you be unsuccessful at any stage of the
                    recruitment process, you will receive an email notifying you
                    and provided with constructive interview feedback.
                  </div>
                </div>
              </div>

              <div class="card active">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button
                      [ngClass]="
                        openBtn7 ? 'btn btn-link ' : 'btn btn-link collapsed'
                      "
                      (click)="openFaq('collapseSeven')"
                      class="btn btn-link"
                      data-toggle="collapse"
                      data-target="#collapseOne"
                      aria-expanded="true"
                      aria-controls="collapseOne"
                    >
                      How do I best prepare for an interview with Lèmoni?
                    </button>
                  </h5>
                </div>
                <div
                  [ngClass]="openBtn7 ? 'collapse show' : 'collapse'"
                  id="collapseOne"
                  class="collapse"
                  aria-labelledby="headingOne"
                  data-parent="#accordion_1"
                >
                  <div class="card-body">
                    To prepare for your interview, we suggest that you visit and
                    review our website. During your interview process, you will
                    be assessed not only on your skill alignment for the role,
                    but also your behavioral alignment to Lèmoni’s core values.
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- pppppppppppppppppppppppppppppppppppppp -->

          <div class="tab-pane fade" id="design" role="tabpanel">
            <div class="faq_tab" id="accordion_2">
              <div class="card">
                <div class="card-header" id="heading2Two">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapse2Two"
                      aria-expanded="false"
                      aria-controls="collapse2Two"
                    >
                      What is cryptocurrency?
                    </button>
                  </h5>
                </div>
                <div
                  id="collapse2Two"
                  class="collapse"
                  aria-labelledby="heading2Two"
                  data-parent="#accordion_2"
                >
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading2Three">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapse2Three"
                      aria-expanded="false"
                      aria-controls="collapse2Three"
                    >
                      What are the best cryptocurrency for buy?
                    </button>
                  </h5>
                </div>
                <div
                  id="collapse2Three"
                  class="collapse"
                  aria-labelledby="heading2Three"
                  data-parent="#accordion_2"
                >
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading3Four">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapse2Four"
                      aria-expanded="false"
                      aria-controls="collapse2Four"
                    >
                      How to buy cryptocurrency?
                    </button>
                  </h5>
                </div>
                <div
                  id="collapse2Four"
                  class="collapse"
                  aria-labelledby="heading3Four"
                  data-parent="#accordion_2"
                >
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="compatibility" role="tabpanel">
            <div class="faq_tab" id="accordion_3">
              <div class="card">
                <div class="card-header" id="heading4Three">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapse3Three"
                      aria-expanded="false"
                      aria-controls="collapse3Three"
                    >
                      What are the best cryptocurrency for buy?
                    </button>
                  </h5>
                </div>
                <div
                  id="collapse3Three"
                  class="collapse"
                  aria-labelledby="heading4Three"
                  data-parent="#accordion_3"
                >
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever.
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="heading4Four">
                  <h5 class="mb-0">
                    <button
                      class="btn btn-link collapsed"
                      data-toggle="collapse"
                      data-target="#collapse3Four"
                      aria-expanded="false"
                      aria-controls="collapse3Four"
                    >
                      What is the refund policy?
                    </button>
                  </h5>
                </div>
                <div
                  id="collapse3Four"
                  class="collapse"
                  aria-labelledby="heading4Four"
                  data-parent="#accordion_3"
                >
                  <div class="card-body">
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text ever.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- END COL  -->
    </div>
    <!--END  ROW  -->
  </div>
  <!-- END CONTAINER  -->
</section>
